# Comment 
*.txt
.DS_Store
.DS_Store?
*.zip
*.gz
log/*.log
log*.log.[0-9]
assets/photoshop/
assets/videos/
!assets/videos/tour_*.mp4

# important point: e.g. log/archive/access.log not ignored
# directories inside directories require caution
